# URL de la API del backend
VITE_API_URL=http://localhost:8000/api/v1

# URL base de checkout de MercadoPago (producción vs sandbox)
# Sandbox:    https://sandbox.mercadopago.cl/checkout/v1/redirect
# Producción: https://www.mercadopago.cl/checkout/v1/redirect
VITE_MP_CHECKOUT_URL=https://sandbox.mercadopago.cl/checkout/v1/redirect
